<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Xx Vehicle Detection xX</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>


  <section class="col-sm " >
          <img src="{{ url_for('video') }}"   alt="Upload video">
  </section>
<section>
    <div class="new" >
      <form method = 'POST' enctype="multipart/form-data" style="align-content: center; text-align: center;display: flex;">
        {{form.hidden_tag()}}
        {{form.file(class_="custom-file-input")}}

        <div>
        <button type="submit" name="favorite" value="x" class="btnCustom">
            Submit
        </button>
      </div>
      </form>
    </div>

  </div>
    </section>

</body>
</html>